In [185]:
# preparation
import numpy as np
import pandas as pd
df = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv', sep=',', delimiter=None, header='infer')
pd.set_option('display.max_columns', None)
df1=df
df1=df[df.STATUS=="Matched"]
df1.drop(['X','Y','SDOTCOLNUM','SEVERITYCODE.1','OBJECTID','INCKEY','COLDETKEY','EXCEPTRSNCODE','EXCEPTRSNDESC'], axis=1, index=None, columns=None, level=None, inplace=True, errors='raise')

C:\Users\Alex Wong\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Alex Wong\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [206]:
# Background Data Analysis:
df2=df1.copy(deep=True) 


df2.dtypes
df2.columns
df2.count()
df2.shape

 

 # Prepare date and time:
df2['INCDATE']= pd.to_datetime(df2['INCDATE']) 
df2['year'] = df2['INCDATE'].dt.year
df2['month'] = df2['INCDATE'].dt.month   
df2['day'] = df2['INCDATE'].dt.day
df2['weekday'] = df2['INCDATE'].dt.weekday  # Monday = 0, Sunday = 6
df2['date'] = df2['INCDATE'].dt.date

df2['INCDTTM']= pd.to_datetime(df2['INCDTTM']) 
df2['hour'] = df2['INCDTTM'].dt.hour

0         2013-03-27
1         2006-12-20
2         2004-11-18
3         2013-03-29
4         2004-01-28
5         2019-04-20
6         2008-12-09
7         2020-04-15
8         2006-06-15
9         2006-03-20
10        2006-05-25
11        2005-08-11
13        2005-12-22
14        2013-03-31
16        2005-07-01
17        2004-01-16
18        2020-04-17
19        2009-06-01
20        2013-03-27
21        2013-03-28
22        2008-07-18
23        2004-09-12
24        2013-03-31
25        2019-04-25
26        2010-11-13
27        2007-07-23
28        2013-03-25
29        2006-11-16
30        2005-11-05
31        2004-07-21
             ...
194640    2018-11-28
194641    2018-12-03
194642    2018-12-07
194643    2018-11-17
194644    2019-01-17
194645    2018-10-20
194647    2018-12-09
194648    2018-11-30
194649    2018-12-02
194650    2019-01-13
194651    2018-12-23
194652    2018-12-20
194653    2018-12-10
194656    2019-01-23
194657    2018-11-26
194658    2019-01-18
194659    2018-11-27
194660    2018-12-23
194661    2019-03-22
194662    2018-12-05
194663    2019-01-09
194664    2018-12-30
194665    2018-12-05
194666    2019-01-04
194667    2018-11-28
194668    2018-11-12
194669    2018-12-18
194670    2019-01-19
194671    2019-01-15
194672    2018-11-30
Name: date, Length: 189786, dtype: object

# Test Case 1.1 UNDERINFL - Whether or not a driver involved was under the influence of drugs or alcohol.

In [191]:
# Driver involved was under the influence of drugs or alcohol = 9121
# Total case = 189786
#Overall %

print (round(9121/189786*100,2))
#4.81%

4.81

# Test Case 2.1a UNDERINFL vs. Year, UNDERINFL means -  Accident that the driver involved was under the influence of drugs or alcohol

In [234]:
# Prepare UNDERINF = Yes or 1, means drugs or alcohol 

df_UNDERINF = df2[(df2['UNDERINFL'] == 'Y') | (df2['UNDERINFL'] == '1')]

df_UNDERINF.count()
df_UNDERINF["y or 1"]=1

C:\Users\Alex Wong\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [235]:
df2[(df2['year']==2020) & (df2['UNDERINFL']=="Y")]  # check 2020 no such record

Empty DataFrame
Columns: [SEVERITYCODE, REPORTNO, STATUS, ADDRTYPE, INTKEY, LOCATION, SEVERITYDESC, COLLISIONTYPE, PERSONCOUNT, PEDCOUNT, PEDCYLCOUNT, VEHCOUNT, INCDATE, INCDTTM, JUNCTIONTYPE, SDOT_COLCODE, SDOT_COLDESC, INATTENTIONIND, UNDERINFL, WEATHER, ROADCOND, LIGHTCOND, PEDROWNOTGRNT, SPEEDING, ST_COLCODE, ST_COLDESC, SEGLANEKEY, CROSSWALKKEY, HITPARKEDCAR, year, month, day, weekday, hour]
Index: []

In [242]:
#test case 2.1a

DF_UNDERINF_year=df_UNDERINF[["y or 1","year"]].groupby(['year']).count()
DF_UNDERINF_year

      y or 1
year
2004     568
2005     688
2006     725
2007     695
2008     605
2009     592
2010     589
2011     621
2012     594
2013     447
2014     499
2015     418
2016     523
2017     441
2018     589
2019     527

# Test Case 2.1b UNDERINFL vs. month

In [243]:
DF_UNDERINF_month=df_UNDERINF[["y or 1","month"]].groupby(['month']).count()

DF_UNDERINF_month

       y or 1
month
1         793
2         731
3         800
4         716
5         738
6         745
7         716
8         713
9         668
10        818
11        817
12        866

# Test Case 2.1c UNDERINFL vs. weekday

In [239]:
DF_UNDERINF_weekday=df_UNDERINF[["y or 1","weekday"]].groupby(['weekday']).count()

# Monday = 0, Sunday = 6
# Monday = 0, Sunday = 6
DF_UNDERINF_weekday

         y or 1
weekday
0           860
1           902
2           992
3          1123
4          1497
5          2000
6          1747

# Test Case 2.1d UNDERINFL vs. hour

In [240]:
DF_UNDERINF_hour=df_UNDERINF[["y or 1","hour"]].groupby(['hour']).count()
DF_UNDERINF_hour

      y or 1
hour
0       1927
1        866
2        854
3        298
4        187
5         93
6         66
7         77
8         79
9         68
10        75
11       109
12        85
13       123
14       153
15       173
16       195
17       294
18       351
19       420
20       509
21       629
22       738
23       752

# Test Case 2.1d UNDERINFL vs. Holiday

In [308]:
from pandas.tseries.holiday import USFederalHolidayCalendar as calendar

cal = calendar()
holidays = cal.holidays(start=df2['date'].min(), end=df2['date'].max())
  
df2['Holiday'] = df2['date'].isin(holidays)
holidays

type(df2['date'])


type(holidays)


df2['date'] = pd.to_datetime(df2['date'],format='%Y-%m-%d')
df2['date'][11]

df2['Holiday'] = df2['date'].isin(holidays)
df2[df2['Holiday']].sort_values(by='date', ascending=True) 

#3947 accident happend during holiday)

SEVERITYCODE      3947
REPORTNO          3947
STATUS            3947
ADDRTYPE          3921
INTKEY            1289
LOCATION          3899
SEVERITYDESC      3947
COLLISIONTYPE     3947
PERSONCOUNT       3947
PEDCOUNT          3947
PEDCYLCOUNT       3947
VEHCOUNT          3947
INCDATE           3947
INCDTTM           3947
JUNCTIONTYPE      3824
SDOT_COLCODE      3947
SDOT_COLDESC      3947
INATTENTIONIND     538
UNDERINFL         3947
WEATHER           3942
ROADCOND          3943
LIGHTCOND         3937
PEDROWNOTGRNT       88
SPEEDING           240
ST_COLCODE        3947
ST_COLDESC        3947
SEGLANEKEY        3947
CROSSWALKKEY      3947
HITPARKEDCAR      3947
year              3947
month             3947
day               3947
weekday           3947
hour              3947
date              3947
Holiday           3947
dtype: int64

In [309]:
3947/9121*100

43.27376384168403

# Test Case 2 Speeding

In [168]:
df1[df1["SPEEDING"] =="Y"].count()

C:\Users\Alex Wong\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

SEVERITYCODE      0
REPORTNO          0
STATUS            0
ADDRTYPE          0
INTKEY            0
LOCATION          0
SEVERITYDESC      0
COLLISIONTYPE     0
PERSONCOUNT       0
PEDCOUNT          0
PEDCYLCOUNT       0
VEHCOUNT          0
INCDATE           0
INCDTTM           0
JUNCTIONTYPE      0
SDOT_COLCODE      0
SDOT_COLDESC      0
INATTENTIONIND    0
UNDERINFL         0
WEATHER           0
ROADCOND          0
LIGHTCOND         0
PEDROWNOTGRNT     0
SPEEDING          0
ST_COLCODE        0
ST_COLDESC        0
SEGLANEKEY        0
CROSSWALKKEY      0
HITPARKEDCAR      0
year              0
month             0
day               0
day_name          0
weekday           0
dtype: int64