In [185]:
# preparation
import numpy as np
import pandas as pd
df = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv', sep=',', delimiter=None, header='infer')
pd.set_option('display.max_columns', None)
df1=df
df1=df[df.STATUS=="Matched"]
df1.drop(['X','Y','SDOTCOLNUM','SEVERITYCODE.1','OBJECTID','INCKEY','COLDETKEY','EXCEPTRSNCODE','EXCEPTRSNDESC'], axis=1, index=None, columns=None, level=None, inplace=True, errors='raise')

C:\Users\Alex Wong\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Alex Wong\Anaconda3\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [189]:
# Background Data Analysis:
df2=df1.copy(deep=True) 


df2.dtypes
df2.columns
df2.count()
df2.shape

# Monday = 0, Sunday = 6
# Monday = 0, Sunday = 6
# Monday = 0, Sunday = 6 
# Monday = 0, Sunday = 6
# Monday = 0, Sunday = 6



df2['INCDATE']= pd.to_datetime(df2['INCDATE']) 
 
df2['year'] = df2['INCDATE'].dt.year
df2['month'] = df2['INCDATE'].dt.month
df2['day'] = df2['INCDATE'].dt.day
df2['weekday'] = df2['INCDATE'].dt.weekday

In [190]:

df2['month']

0          3
1         12
2         11
3          3
4          1
5          4
6         12
7          4
8          6
9          3
10         5
11         8
13        12
14         3
16         7
17         1
18         4
19         6
20         3
21         3
22         7
23         9
24         3
25         4
26        11
27         7
28         3
29        11
30        11
31         7
          ..
194640    11
194641    12
194642    12
194643    11
194644     1
194645    10
194647    12
194648    11
194649    12
194650     1
194651    12
194652    12
194653    12
194656     1
194657    11
194658     1
194659    11
194660    12
194661     3
194662    12
194663     1
194664    12
194665    12
194666     1
194667    11
194668    11
194669    12
194670     1
194671     1
194672    11
Name: month, Length: 189786, dtype: int64

# Test Case 1 UNDERINFL - Whether or not a driver involved was under the influence of drugs or alcohol.

In [191]:
# Driver involved was under the influence of drugs or alcohol = 9121
# Total case = 189786
#Overall %

print (round(9121/189786*100,2))
#4.81%

4.81

In [192]:

df_UNDERINF = df2[(df2['UNDERINFL'] == 'Y') | (df2['UNDERINFL'] == '1')]

df_UNDERINF.count()
df_UNDERINF["y or 1"]=1

C:\Users\Alex Wong\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [193]:
df2[(df2['year']==2020) & (df2['UNDERINFL']=="Y")]

Empty DataFrame
Columns: [SEVERITYCODE, REPORTNO, STATUS, ADDRTYPE, INTKEY, LOCATION, SEVERITYDESC, COLLISIONTYPE, PERSONCOUNT, PEDCOUNT, PEDCYLCOUNT, VEHCOUNT, INCDATE, INCDTTM, JUNCTIONTYPE, SDOT_COLCODE, SDOT_COLDESC, INATTENTIONIND, UNDERINFL, WEATHER, ROADCOND, LIGHTCOND, PEDROWNOTGRNT, SPEEDING, ST_COLCODE, ST_COLDESC, SEGLANEKEY, CROSSWALKKEY, HITPARKEDCAR, year, month, day, weekday]
Index: []

In [194]:
df2['month']

0          3
1         12
2         11
3          3
4          1
5          4
6         12
7          4
8          6
9          3
10         5
11         8
13        12
14         3
16         7
17         1
18         4
19         6
20         3
21         3
22         7
23         9
24         3
25         4
26        11
27         7
28         3
29        11
30        11
31         7
          ..
194640    11
194641    12
194642    12
194643    11
194644     1
194645    10
194647    12
194648    11
194649    12
194650     1
194651    12
194652    12
194653    12
194656     1
194657    11
194658     1
194659    11
194660    12
194661     3
194662    12
194663     1
194664    12
194665    12
194666     1
194667    11
194668    11
194669    12
194670     1
194671     1
194672    11
Name: month, Length: 189786, dtype: int64

In [155]:
df_UNDERINF[["y or 1","year"]].groupby(['year']).count()

      y or 1
year
2004     568
2005     688
2006     725
2007     695
2008     605
2009     592
2010     589
2011     621
2012     594
2013     447
2014     499
2015     418
2016     523
2017     441
2018     589
2019     527

In [180]:
df_UNDERINF[["y or 1","month"]].groupby(['month']).count()

185763    False
186072    False
185874    False
187158    False
187155    False
187580    False
186663    False
187967    False
185581    False
185549    False
187379    False
188148    False
188605    False
186997    False
187633    False
187477    False
187030    False
187216    False
191047    False
188900    False
187644    False
188064    False
187920    False
186958    False
187663    False
191239    False
188669    False
187135    False
185468    False
187642    False
          ...
14095     False
10704     False
10706     False
3798      False
6381      False
11054     False
5774      False
13522     False
10029     False
14249     False
4455      False
14469     False
12514     False
13771     False
9223      False
3857      False
3353      False
13180     False
13325     False
6425      False
12244     False
8993      False
7705      False
9092      False
2456      False
5968      False
8815      False
2631      False
7716      False
5079      False
Name: month, Length: 9121, dtype: bool

In [177]:
df_UNDERINF[["y or 1","weekday"]].groupby(['weekday']).count()

# Monday = 0, Sunday = 6
# Monday = 0, Sunday = 6

         y or 1
weekday
0           860
1           902
2           992
3          1123
4          1497
5          2000
6          1747

# Test Case 2 Speeding

In [168]:
df1[df1["SPEEDING"] =="Y"].count()

C:\Users\Alex Wong\Anaconda3\lib\site-packages\pandas\core\ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

SEVERITYCODE      0
REPORTNO          0
STATUS            0
ADDRTYPE          0
INTKEY            0
LOCATION          0
SEVERITYDESC      0
COLLISIONTYPE     0
PERSONCOUNT       0
PEDCOUNT          0
PEDCYLCOUNT       0
VEHCOUNT          0
INCDATE           0
INCDTTM           0
JUNCTIONTYPE      0
SDOT_COLCODE      0
SDOT_COLDESC      0
INATTENTIONIND    0
UNDERINFL         0
WEATHER           0
ROADCOND          0
LIGHTCOND         0
PEDROWNOTGRNT     0
SPEEDING          0
ST_COLCODE        0
ST_COLDESC        0
SEGLANEKEY        0
CROSSWALKKEY      0
HITPARKEDCAR      0
year              0
month             0
day               0
day_name          0
weekday           0
dtype: int64