this notebook will be mainly used for the capstone project.

****************** 
<p> Remark:
<p> REPORTNO have duplication 
    
<p> STATUS  has 4800 unmatched, 188k Matched
    
<P> unmatched matched

****************** 
    
Missing:
SHAPE

SERIOUSINJURIES

FATALITIES

INCDATE

Meta data:
https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Metadata.pdf

In [1]:
import numpy as np
import pandas as pd

print ("Hello Capstone Project Course!")

Hello Capstone Project Course!

In [117]:
df = pd.read_csv('https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Data-Collisions.csv', sep=',', delimiter=None, header='infer')

In [37]:
pd.set_option('display.max_columns', None)

In [64]:
df.tail(1)

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
194672,1,-122.28936,47.611017,219547,308220,309500,E868008,Matched,Block,NaN,34TH AVE BETWEEN E MARION ST AND E SPRING ST,,NaN,1,Property Damage Only Collision,Rear Ended,2,0,0,2,2018/11/30 00:00:00+00,11/30/2018 3:45:00 PM,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",NaN,N,Clear,Wet,Daylight,NaN,NaN,NaN,14,From same direction - both going straight - on...,0,0,N

In [43]:
df1=df

In [ ]:
df1['EXCEPTRSNCODE'].sort_values(ascending=False)

In [50]:
df.EXCEPTRSNCODE.unique()
#DataFrame.sort_values(by, axis=0, ascending=True, inplace=False, kind='quicksort', na_position='last', ignore_index=False, key=None)[source]

array([' ', nan, 'NEI'], dtype=object)

In [49]:
df.EXCEPTRSNDESC.unique()

array([nan,
       'Not Enough Information, or Insufficient Location Information'],
      dtype=object)

In [60]:
df["SEGLANEKEY"].sort_values(ascending=False)
df["CROSSWALKKEY"].sort_values(ascending=False)

179239    5239700
190662     703480
155646     701306
154757     701280
159132     701110
162519     700526
171420     700388
170462     699889
168430     699879
175133     699876
169599     699738
164943     699736
167476     699723
151195     699720
170966     699687
171222     699680
162068     696052
149912     678782
152912     668165
152877     664953
161703     664366
164254     664365
194655     650595
178394     642420
157766     642419
167977     642408
181256     642048
180789     638921
157045     638921
187665     638921
           ...
128780          0
128779          0
128778          0
128777          0
128776          0
128775          0
128794          0
128796          0
128817          0
128797          0
128816          0
128815          0
128814          0
128813          0
128812          0
128811          0
128810          0
128809          0
128808          0
128807          0
128806          0
128805          0
128804          0
128803          0
128802          0
128801          0
128800          0
128799          0
128798          0
0               0
Name: CROSSWALKKEY, Length: 194673, dtype: int64

In [63]:
df[df["HITPARKEDCAR"]=="Y"].count()

SEVERITYCODE      7216
X                 7005
Y                 7005
OBJECTID          7216
INCKEY            7216
COLDETKEY         7216
REPORTNO          7216
STATUS            7216
ADDRTYPE          7017
INTKEY             176
LOCATION          7015
EXCEPTRSNCODE     7216
EXCEPTRSNDESC     1264
SEVERITYCODE.1    7216
SEVERITYDESC      7216
COLLISIONTYPE     6916
PERSONCOUNT       7216
PEDCOUNT          7216
PEDCYLCOUNT       7216
VEHCOUNT          7216
INCDATE           7216
INCDTTM           7216
JUNCTIONTYPE      6083
SDOT_COLCODE      7216
SDOT_COLDESC      7216
INATTENTIONIND    1263
UNDERINFL         6918
WEATHER           6880
ROADCOND          6885
LIGHTCOND         6868
PEDROWNOTGRNT        0
SDOTCOLNUM           1
SPEEDING           123
ST_COLCODE        7216
ST_COLDESC        6916
SEGLANEKEY        7216
CROSSWALKKEY      7216
HITPARKEDCAR      7216
dtype: int64

<p><h1>Check aginst the Meta Data</h1>
<p> 
<p><h2>More:</h2>
<p>REPORTNO           object
<p>STATUS             object
<p>SEVERITYCODE        int64
<p>X                 float64
<p>Y                 float64
<p>
    
    
<p><h2>Missing:</h2>
<p>SHAPE
<p><p>SERIOUSINJURIES
<p>FATALITIES
<p>INCDATE 
<p>
<p><h2>Meta data:</h2>
<p>https://s3.us.cloud-object-storage.appdomain.cloud/cf-courses-data/CognitiveClass/DP0701EN/version-2/Metadata.pdf

In [16]:
df.dtypes

SEVERITYCODE        int64
X                 float64
Y                 float64
OBJECTID            int64
INCKEY              int64
COLDETKEY           int64
REPORTNO           object
STATUS             object
ADDRTYPE           object
INTKEY            float64
LOCATION           object
EXCEPTRSNCODE      object
EXCEPTRSNDESC      object
SEVERITYCODE.1      int64
SEVERITYDESC       object
COLLISIONTYPE      object
PERSONCOUNT         int64
PEDCOUNT            int64
PEDCYLCOUNT         int64
VEHCOUNT            int64
INCDATE            object
INCDTTM            object
JUNCTIONTYPE       object
SDOT_COLCODE        int64
SDOT_COLDESC       object
INATTENTIONIND     object
UNDERINFL          object
WEATHER            object
ROADCOND           object
LIGHTCOND          object
PEDROWNOTGRNT      object
SDOTCOLNUM        float64
SPEEDING           object
ST_COLCODE         object
ST_COLDESC         object
SEGLANEKEY          int64
CROSSWALKKEY        int64
HITPARKEDCAR       object
dtype: object

In [100]:
df[df.duplicated(subset=['REPORTNO'])]

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
2829,1,-122.318958,47.695842,3272,16918,16918,1780512,Matched,Block,NaN,NE 92ND ST BETWEEN 8TH AVE NE AND ROOSEVELT WA...,NaN,NaN,1,Property Damage Only Collision,Parked Car,2,0,0,2,2004/04/25 00:00:00+00,4/25/2004 5:00:00 AM,Mid-Block (not related to intersection),16,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",NaN,0,Unknown,Unknown,Unknown,NaN,4116048.0,NaN,32,One parked--one moving,0,0,N
7231,2,-122.355302,47.682178,8981,22777,22777,1782439,Matched,Block,NaN,GREENWOOD AVE N BETWEEN N 73RD ST AND N 74TH ST,NaN,NaN,2,Injury Collision,Rear Ended,8,0,0,4,2004/04/25 00:00:00+00,4/25/2004 10:58:00 AM,Mid-Block (but intersection related),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",Y,0,Clear,Dry,Daylight,NaN,4116034.0,NaN,14,From same direction - both going straight - on...,0,0,N
11799,2,-122.329047,47.595387,14900,28573,28573,1776526,Matched,Block,NaN,4TH AVE S BETWEEN SEATTLE BLVD S AND I90 WB 4T...,NaN,NaN,2,Injury Collision,Cycles,2,0,1,1,2004/04/21 00:00:00+00,4/21/2004 12:45:00 PM,Driveway Junction,18,"MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END A...",NaN,0,Clear,Wet,Daylight,NaN,4112025.0,NaN,45,Vehicle - Pedalcyclist,0,0,N

In [105]:
df[df['REPORTNO']=="1776526"]

,SEVERITYCODE,X,Y,OBJECTID,INCKEY,COLDETKEY,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,EXCEPTRSNCODE,EXCEPTRSNDESC,SEVERITYCODE.1,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
3647,2,-122.329047,47.595387,4264,12923,12923,1776526,Matched,Block,NaN,4TH AVE S BETWEEN SEATTLE BLVD S AND I90 WB 4T...,NaN,NaN,2,Injury Collision,Cycles,2,0,1,1,2004/04/21 00:00:00+00,4/21/2004 12:45:00 PM,Driveway Junction,18,"MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END A...",NaN,0,Clear,Wet,Daylight,NaN,4112025.0,NaN,45,Vehicle - Pedalcyclist,0,0,N
11799,2,-122.329047,47.595387,14900,28573,28573,1776526,Matched,Block,NaN,4TH AVE S BETWEEN SEATTLE BLVD S AND I90 WB 4T...,NaN,NaN,2,Injury Collision,Cycles,2,0,1,1,2004/04/21 00:00:00+00,4/21/2004 12:45:00 PM,Driveway Junction,18,"MOTOR VEHICLE STRUCK PEDALCYCLIST, FRONT END A...",NaN,0,Clear,Wet,Daylight,NaN,4112025.0,NaN,45,Vehicle - Pedalcyclist,0,0,N

In [121]:
df2=df

In [122]:
df2.drop(['X','Y','SEVERITYCODE.1','OBJECTID','INCKEY','COLDETKEY','EXCEPTRSNCODE','EXCEPTRSNDESC'], axis=1, index=None, columns=None, level=None, inplace=True, errors='raise')

In [123]:
df2.head()

,SEVERITYCODE,REPORTNO,STATUS,ADDRTYPE,INTKEY,LOCATION,SEVERITYDESC,COLLISIONTYPE,PERSONCOUNT,PEDCOUNT,PEDCYLCOUNT,VEHCOUNT,INCDATE,INCDTTM,JUNCTIONTYPE,SDOT_COLCODE,SDOT_COLDESC,INATTENTIONIND,UNDERINFL,WEATHER,ROADCOND,LIGHTCOND,PEDROWNOTGRNT,SDOTCOLNUM,SPEEDING,ST_COLCODE,ST_COLDESC,SEGLANEKEY,CROSSWALKKEY,HITPARKEDCAR
0,2,3502005,Matched,Intersection,37475.0,5TH AVE NE AND NE 103RD ST,Injury Collision,Angles,2,0,0,2,2013/03/27 00:00:00+00,3/27/2013 2:54:00 PM,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Overcast,Wet,Daylight,NaN,NaN,NaN,10,Entering at angle,0,0,N
1,1,2607959,Matched,Block,NaN,AURORA BR BETWEEN RAYE ST AND BRIDGE WAY N,Property Damage Only Collision,Sideswipe,2,0,0,2,2006/12/20 00:00:00+00,12/20/2006 6:55:00 PM,Mid-Block (not related to intersection),16,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, LEFT SIDE ...",NaN,0,Raining,Wet,Dark - Street Lights On,NaN,6354039.0,NaN,11,From same direction - both going straight - bo...,0,0,N
2,1,1482393,Matched,Block,NaN,4TH AVE BETWEEN SENECA ST AND UNIVERSITY ST,Property Damage Only Collision,Parked Car,4,0,0,3,2004/11/18 00:00:00+00,11/18/2004 10:20:00 AM,Mid-Block (not related to intersection),14,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, REAR END",NaN,0,Overcast,Dry,Daylight,NaN,4323031.0,NaN,32,One parked--one moving,0,0,N
3,1,3503937,Matched,Block,NaN,2ND AVE BETWEEN MARION ST AND MADISON ST,Property Damage Only Collision,Other,3,0,0,3,2013/03/29 00:00:00+00,3/29/2013 9:26:00 AM,Mid-Block (not related to intersection),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,N,Clear,Dry,Daylight,NaN,NaN,NaN,23,From same direction - all others,0,0,N
4,2,1807429,Matched,Intersection,34387.0,SWIFT AVE S AND SWIFT AV OFF RP,Injury Collision,Angles,2,0,0,2,2004/01/28 00:00:00+00,1/28/2004 8:04:00 AM,At Intersection (intersection related),11,"MOTOR VEHICLE STRUCK MOTOR VEHICLE, FRONT END ...",NaN,0,Raining,Wet,Daylight,NaN,4028032.0,NaN,10,Entering at angle,0,0,N

In [ ]:
For the FIRST week, you will required to submit the following:

A description of the problem and a discussion of the background. (15 marks)

In [ ]:

A description of the data and how it will be used to solve the problem. (15 marks)

For the FIRST week, you will required to submit the following:
<br>
<p>A description of the problem and a discussion of the background. (15 marks)
<p>A description of the data and how it will be used to solve the problem. (15 marks)
<br>

For the SECOND week, the final deliverables of the project will be:
<br>  
<p>1. A link to your Notebook on your Github repository, showing your code. (15 marks)
<br>  
<p>2. A full report consisting of all of the following components (15 marks):
- Introduction where you discuss the business problem and who would be interested in this project.
- Data where you describe the data that will be used to solve the problem and the source of the data.
- Methodology section which represents the main component of the report where you discuss and describe any exploratory data analysis that you did, any inferential statistical testing that you performed, if any, and what machine learnings were used and why.
- Results section where you discuss the results.
- Discussion section where you discuss any observations you noted and any recommendations you can make based on the - results.
- Conclusion section where you conclude the report. 
<br>

<p>3. Your choice of a presentation or blogpost. (10 marks)
<br>   
Here are examples of previous outstanding submissions that should give you an idea of what your report would look like, what your notebook would look like in terms of clean, clear, and well-commented code, and what your presentation would look like or your blogpost would look like:
<br>   
<P>Report: https://cocl.us/coursera_capstone_report
<P>Notebook: https://cocl.us/coursera_capstone_notebook
<P>Presentation: https://cocl.us/coursera_capstone_presentation
<P>Blogpost: https://cocl.us/coursera_capstone_blogpost
  
<br>